@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    color: hsl(193, 38%, 86%);
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    padding: 70px 120px;
    border-radius: 10px;
    background-color: hsl(217, 19%, 24%);
    font-size: 28px;
    text-align: center;
}

.advice {
    padding: 1em 0;
}

.dice {
    position: absolute;
    top: 20px;
    left: 20px;
}

.dice-container {
    position: absolute;
    top: 85%;
    left: 47%;
    z-index: 1;
    cursor: pointer;
}

.dice-container::after {
    content: "";
    display: block;
    position: absolute;
    background-color: hsl(150, 100%, 66%);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    top: 0px;
    z-index: -1;
}

.dice-container:hover  .dice {
    box-shadow: 0 0 40px 10px hsl(150, 100%, 66%), 0 0 80px 10px hsl(150, 100%, 66%);
}

.advice-heading {
    letter-spacing: 2px;
    position: absolute;
    top: 15%;
    left: 45%;
    color: hsl(150, 100%, 66%);
}

.divider {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 578px) {
    .container {
        padding: 75px 60px;
    }
}